@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html * {
    font-family: "Work Sans", serif;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

.handle_blur {
    will-change: filter;
}

.handle_animation {
    animation: image 0.7s ease-in-out forwards;
    will-change: transform, opacity;
}

.handle_animation_gallery {
    animation: image_gallery 1s ease-in-out forwards;
    will-change: opacity;
}

.handle_from_left {
    animation: from_left 0.6s ease-in-out forwards;
    will-change: transform;
}

.handle_from_right {
    animation: from_right 0.6s ease-in-out forwards;
    will-change: transform;
}

@keyframes from_left {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes from_right {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes image {
    0% {
        transform: translateY(800px);
        opacity: 0;
    }

    90% {
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes image_gallery {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
