---
import "./styles/global.css";
import More from "../components/More";

export type Image = {
    url: string;
};
const res = await fetch("http://localhost:4321/api/cloudinary-images");
const res_obj = await res.json();
const imgs: Image[] = res_obj.resources;
const next_cursor = res_obj.next_cursor;
console.log(res_obj);
---

<div class="text-[12px]">
    <div class="fixed px-4 mt-[50vh] w-screen">
        <div class="flex justify-between">
            <div>
                <p>Anastasia Potapova</p>
            </div>
            <div class="flex gap-4">
                <p class="active:text-black/20 cursor-pointer">Instagram</p>
                <p class="active:text-black/20 cursor-pointer">E-mail</p>
                <p class="active:text-black/20 cursor-pointer">Index</p>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div class="flex flex-col gap-4 w-fit my-[50vh] items-center">
            {
                imgs.map((img) => {
                    return (
                        <img
                            src={img.url}
                            alt="img"
                            class="h-[600px] w-[500px] object-cover"
                        />
                    );
                })
            }
            <More curr_cursor={next_cursor} client:visible />
        </div>
    </div>
</div>
