---
import "./styles/global.css";
---

<div>
    <div class="fixed px-4 text-[13px] mt-[50vh] w-screen">
        <div class="flex justify-between">
            <div>
                <p>Anastasia Potapova</p>
                <p class="hover:text-black/50 cursor-pointer">
                    info@anastasea.com
                </p>
                <p class="hover:text-black/50 cursor-pointer">@ana.sta.sea</p>
            </div>
            <div>
                <p class="hover:text-black/50 cursor-pointer">Index</p>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div class="flex flex-col gap-4 w-fit my-[50vh] items-center">
            <div class="h-[600px] w-[500px] bg-black"></div>
            <div class="h-[600px] w-[500px] bg-black"></div>
            <div class="h-[600px] w-[500px] bg-black"></div>
            <div class="h-[600px] w-[500px] bg-black"></div>
        </div>
    </div>
</div>
