---
import "./styles/global.css";
---

<div>
    <div class="fixed px-4 text-[12px] mt-[50vh] w-screen">
        <div class="flex justify-between">
            <div>
                <p>Anastasia Potapova</p>
            </div>
            <div class="flex gap-4">
                <p
                    class="hover:text-black/50 active:text-black/20 cursor-pointer"
                >
                    Instagram
                </p>
                <p
                    class="hover:text-black/50 active:text-black/20 cursor-pointer"
                >
                    E-mail
                </p>
                <p
                    class="hover:text-black/50 active:text-black/20 cursor-pointer"
                >
                    Index
                </p>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div class="grid grid-cols-4 p-2 gap-2 w-fit">
            <div class="h-[250px] w-[200px] bg-black"></div>
            <div class="h-[300px] w-[200px] bg-black"></div>
            <div class="h-[250px] w-[200px] bg-black"></div>
            <div class="h-[250px] w-[200px] bg-black"></div>
            <div class="h-[250px] w-[200px] bg-black"></div>
            <div class="h-[150px] w-[200px] bg-black"></div>
            <div class="h-[200px] w-[200px] bg-black"></div>
            <div class="h-[250px] w-[200px] bg-black"></div>

            <div class="h-[250px] w-[200px] bg-black"></div>
            <div class="h-[200px] w-[200px] bg-black"></div>
            <div class="h-[250px] w-[200px] bg-black"></div>
            <div class="h-[150px] w-[200px] bg-black"></div>
        </div>
    </div>
</div>
