---
import "./styles/global.css";
import More from "../components/More";

type Image = {
    url: string;
};

const res = await fetch("http://localhost:4321/api/cloudinary-images");
const res_obj = await res.json();
const imgs: Image[] = res_obj.resources;
const first_img: string = imgs[0].url;
// const next_cursor = res_obj.next_cursor;
---

<div class="text-[12px] bg-white">
    <div
        class="fixed px-4 mt-[49vh] w-screen text-white/65 mix-blend-difference h-2 z-30"
    >
        <div class="flex justify-between">
            <div>
                <p>Anastasia Potapova</p>
            </div>
            <div class="flex gap-4">
                <p class="active:text-black/20 cursor-pointer">Instagram</p>
                <p class="active:text-black/20 cursor-pointer">E-mail</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center justify-center">
        <div
            id="img_wrapper"
            class="flex flex-col gap-4 w-fit my-4 items-center"
        >
            {
                imgs.map((img) => {
                    return (
                        <img
                            src={img.url}
                            class={`absolute h-[30vh] object-contain image_animate ease-in-out top-[-1000px] will-change-transform z-40`}
                        />
                    );
                })
            }

            <img
                id="img_static"
                src={first_img}
                alt="first_img"
                class="hidden h-[80vh] object-cover transition-all duration-600 ease-in-out handle_blur z-10"
            />
            {
                imgs.slice(1).map((img) => {
                    return (
                        <img
                            id="img_static"
                            src={img.url}
                            alt="img"
                            class="hidden h-[80vh] object-cover transition-all duration-600 ease-in-out handle_blur blur-xs opacity-90"
                        />
                    );
                })
            }
        </div>
        <div
            class="mb-4 text-white/10 ml-auto mr-4 mt-[45vh] mix-blend-difference"
        >
            <!-- All Rights Reserved. 2025 -->
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        if ("scrollRestoration" in history) {
            history.scrollRestoration = "manual";
        }

        const imgs_animate = document.querySelectorAll(".image_animate");
        const img_wrapper = document.getElementById("img_wrapper");
        const imgs = img_wrapper?.querySelectorAll("#img_static");
        const text = document.querySelector(".fixed");

        imgs_animate.forEach((img, index) => {
            const img_element = img as HTMLElement;
            const rnd_num = Math.floor(Math.random() * 13) - 6;

            img_element.style.animationDelay = `${index * 200}ms`;
            img_element.style.rotate = `z ${rnd_num}deg`;
        });

        window.addEventListener("scroll", () => {
            imgs?.forEach((img) => {
                const img_rect = img.getBoundingClientRect();
                const text_rect = text?.getBoundingClientRect();

                if (
                    text_rect &&
                    img_rect.top <= text_rect?.bottom &&
                    img_rect.bottom >= text_rect?.top
                ) {
                    img.classList.remove("blur-xs");
                } else {
                    img.classList.add("blur-xs");
                }
            });
        });
    });
</script>
