---
import "../styles/global.css";
type Image = {
    url: string;
    transformed_url: string;
};
const res = await fetch(
    "https://subtle-palmier-ae368e.netlify.app/api/data.json",
);
const res_obj = await res.json();
const imgs: Image[] = res_obj.resources;
const img_urls = imgs.map((img) => img.transformed_url);
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anastasiia Potapova</title>
    {img_urls.map((url) => <link rel="preload" as="image" href={url} />)}
    <link rel="icon" href="/favicon-16x16.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"
    />
</head>
<div class="text-[12px] bg-white">
    <div
        class="mt-4 fixed w-screen z-30 mix-blend-difference text-white max-[500px]:hidden handle_from_top"
    >
        <div class="text-center">
            <a id="view_change_button" class="cursor-pointer hover:opacity-50"
                >View</a
            >
        </div>
    </div>
    <div
        class="mb-4 fixed w-screen z-30 mix-blend-difference text-white bottom-0 handle_from_bottom"
    >
        <div class="text-center">©2025</div>
    </div>
    <div
        class="fixed px-4 mt-[50vh] max-[500px]:px-4 w-screen text-white max-[500px]:mt-[45vh] mix-blend-difference z-30 max-w-[1440px] pointer-events-none"
        id="middle"
    >
        <div class="flex justify-between">
            <div class="handle_from_left">
                <p>Anastasiia Potapova</p>
            </div>
            <div class="flex gap-4 handle_from_right">
                <a href="https://www.instagram.com/ana.sta.sea/">
                    <p class="cursor-pointer hover:opacity-50">Instagram</p>
                </a>
                <a href="mailto:potapova.nana@gmail.com">
                    <p class="cursor-pointer hover:opacity-50">E-mail</p>
                </a>
            </div>
        </div>
    </div>
    <div id="loader" class="flex">
        <p class="m-auto mt-[50vh] max-[500px]:mt-[45vh]">
            <span id="progress">0</span>%
        </p>
    </div>

    <img
        src=""
        id="image_overlay"
        class="rounded-xs fixed h-[80vh] left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none z-10 transition-opacity duration-500 ease-out opacity-0"
    />
    <div
        id="content"
        style="visibility: hidden;"
        class="transition-all duration-500 ease-out"
    >
        <div
            class="flex flex-col items-center justify-center max-[500px]:w-[100vw] max-[500px]:p-1 max-[500px]:mx-0 w-full transition-all duration-500 ease-out"
            id="img_scroll_area_one"
        >
            <div
                id="img_wrapper"
                class="flex flex-nowrap flex-col justify-center gap-1 max-[500px]:gap-1 items-center overflow-hidden my-4 max-[500px]:my-0 max-[500px]:grid-cols-1 w-fit min-[500px]:pt-8 pb-8 max-[500px]:pb-12 opacity-100"
            >
                {
                    img_urls.map((url) => (
                        <div
                            class="relative w-fit overflow-hidden rounded-xs"
                            id="img_group"
                        >
                            <img
                                id="img_static"
                                src={url}
                                alt="img"
                                class="max-[500px]:h-auto max-[500px]:w-full object-cover rounded-xs h-[75vh] scale-[1.02] transition-all duration-500 ease-out will-change-auto opacity-0"
                            />
                        </div>
                    ))
                }
            </div>
        </div>

        <div
            class="hidden flex-col items-center justify-center max-[500px]:w-[100vw] max-[500px]:p-1 max-[500px]:mx-0 w-full transition-all"
            id="img_scroll_area_two"
        >
            <div
                id="img_wrapper"
                class="grid grid-cols-4 w-full max-w-[800px] mx-auto my-4 max-[500px]:grid-cols-1 max-[500px]:my-0 pt-8 pb-8 px-2 h-fit"
            >
                {
                    img_urls.map((url) => (
                        <div
                            class="overflow-hidden w-fit h-fit"
                            id="image_wrapp"
                        >
                            <img
                                id="img_static"
                                src={url}
                                alt="img"
                                class="w-full h-auto object-cover transition-all duration-500 ease-out p-[2px] rounded-[3.5px]"
                            />
                        </div>
                    ))
                }
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            if ("scrollRestoration" in history) {
                history.scrollRestoration = "manual";
            }

            const images = document.images;
            const imgs = document.querySelectorAll("#img_static");
            const imgs_first_view = document.querySelectorAll(
                "#img_scroll_area_one img",
            ) as NodeListOf<HTMLImageElement>;
            const imgs_second_view = document.querySelectorAll(
                "#img_scroll_area_two img",
            ) as NodeListOf<HTMLImageElement>;
            const img_wrapper = document.getElementById("img_wrapper");
            const progress = document.getElementById("progress");
            const loader = document.getElementById("loader");
            const content = document.getElementById("content");
            const view_change_button =
                document.getElementById("view_change_button");
            const image_area_one = document.getElementById(
                "img_scroll_area_one",
            );
            const image_area_two = document.getElementById(
                "img_scroll_area_two",
            );
            const image_overlay = document.getElementById(
                "image_overlay",
            ) as HTMLImageElement;

            let loaded = 0;
            let view = false;
            const total = images.length;

            const toggle_blur = () => {
                imgs_first_view.forEach((img) => {
                    // img.classList.remove("opacity-0");
                    img.style.opacity = "1";
                    // img.classList.add("blur-[4px]");
                    img.style.filter = "blur-4px";
                });
            };
            toggle_blur();

            const change_view = () => {
                if (view) {
                    image_area_one!.classList.replace("hidden", "flex");
                    image_area_two!.classList.replace("flex", "hidden");
                }

                if (!view) {
                    image_area_one!.classList.replace("flex", "hidden");
                    image_area_two!.classList.replace("hidden", "flex");
                }
                view = !view;
                window.scrollTo({ top: 0, behavior: "instant" });
                show_first();
                image_overlay.src = "";
            };

            view_change_button?.addEventListener("click", () => {
                change_view();
            });

            const checkElements = () => {
                const middleZoneHeight = window.innerHeight * 0.001;
                const middleTop = window.innerHeight / 2 - middleZoneHeight / 2;
                const middleBottom =
                    window.innerHeight / 2 + middleZoneHeight / 2;

                imgs_first_view?.forEach((i) => {
                    const rect = i.getBoundingClientRect();
                    const isInCenter =
                        rect.top < middleBottom && rect.bottom > middleTop;

                    i.classList.toggle("blur-[4px]", !isInCenter);
                });
            };

            const show_first = () => {
                imgs[0].classList.remove("blur-[4px]");
            };

            const update_perc = () => {
                loaded++;
                const perc = Math.round((loaded / total) * 100).toString();
                if (progress) progress.textContent = perc;

                if (loaded === total) {
                    if (loader) loader.style.display = "none";
                    if (content) content.style.visibility = "visible";

                    checkElements();
                    show_first();
                }
            };

            for (let i = 0; i < total; i++) {
                if (images[i].complete) {
                    update_perc();
                } else {
                    images[i].addEventListener("load", update_perc);
                    images[i].addEventListener("error", update_perc);
                }
            }

            const onScroll = () => {
                requestAnimationFrame(checkElements);
            };
            window.addEventListener("scroll", onScroll);

            imgs_second_view.forEach((img) => {
                img.addEventListener("mouseover", () => {
                    image_overlay.src = img.src;
                    image_overlay.classList.replace("opacity-0", "opacity-100");
                    content!.style.opacity = "0.2";
                });

                img.addEventListener("mouseleave", () => {
                    image_overlay.classList.replace("opacity-100", "opacity-0");
                    content!.style.opacity = "1";
                });
            });
        });
    </script>
</div>
