---
import "../styles/global.css";

type Image = {
    url: string;
    transformed_url: string;
};

const res = await fetch(
    "https://subtle-palmier-ae368e.netlify.app/api/data.json",
    // "http://localhost:8888/api/data.json",
);
const res_obj = await res.json();
const imgs: Image[] = res_obj.resources;
const img_urls = imgs.map((img) => img.transformed_url);
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anastasia</title>
    {img_urls.map((url) => <link rel="preload" as="image" href={url} />)}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"
    />
</head>

<div class="text-[13px] bg-white">
    <div class="fixed mt-[50vh]" id="center"></div>
    <div
        class="fixed px-2 mt-[50vh] max-[500px]:px-4 w-screen text-white max-[500px]:mt-4 mix-blend-difference z-30"
    >
        <div class="flex justify-between">
            <div class="handle_from_left">
                <p>Anastasia Potapova</p>
            </div>
            <div class="flex gap-4 handle_from_right">
                <p class="cursor-pointer max-[500px]:hidden">Less</p>
                <p class="cursor-pointer">Instagram</p>
                <p class="cursor-pointer">E-mail</p>
            </div>
        </div>
    </div>
    <div
        class="flex flex-col items-center justify-center max-[500px]:w-[100vw] p-1 max-[500px]:mx-0 w-[100vw]"
    >
        <div
            id="img_wrapper"
            class="hidden grid-cols-2 gap-1 items-center overflow-hidden my-1 max-[500px]:my-0 max-[500px]:grid-cols-1 w-full"
        >
            {
                img_urls.map((url) => {
                    return (
                        <div class="relative w-fit handle_blur" id="img_group">
                            <div
                                id="bg_blured"
                                class="absolute w-full inset-0 z-10 transition-all duration-600 ease-out handle_blur backdrop-blur-md"
                            />
                            <img
                                loading="eager"
                                decoding="async"
                                id="img_static"
                                src={url}
                                alt="img"
                                class="max-[500px]:h-auto max-[500px]:w-full object-cover handle_blur rounded"
                            />
                        </div>
                    );
                })
            }
        </div>
    </div>
    <!-- <div
        class="flex flex-col items-center justify-center max-[500px]:w-[100vw]"
    >
        <div
            id="img_wrapper"
            class="flex flex-col gap-1 items-center overflow-hidden my-1 max-[500px]:my-0 w-full"
        >
            {
                img_urls.map((url) => {
                    return (
                        <div
                            class="relative handle_animation w-fit"
                            id="img_group"
                        >
                            <div
                                id="bg_blured"
                                class="absolute w-full inset-0 backdrop-blur-md z-10 transition-all duration-600 ease-out handle_blur"
                            />
                            <img
                                loading="eager"
                                decoding="async"
                                id="img_static"
                                src={url}
                                alt="img"
                                class="h-[80vh] max-[500px]:h-auto max-[500px]:w-full object-cover"
                            />
                        </div>
                    );
                })
            }
        </div>
    </div> -->
</div>

<script>
    document.addEventListener("DOMContentLoaded", async () => {
        if ("scrollRestoration" in history) {
            history.scrollRestoration = "manual";
        }

        const img_wrapper = document.getElementById("img_wrapper");
        const bg_blured = document.querySelectorAll("#bg_blured");
        const img_group = document.querySelectorAll("#img_group");
        const center = document.querySelector("#center");
        const imgs =
            img_wrapper?.querySelectorAll<HTMLImageElement>(
                "img[id=img_static]",
            );

        window.addEventListener("load", () => {
            img_wrapper?.classList.replace("hidden", "grid");
            img_wrapper?.classList.add("handle_animation_gallery");
            bg_blured[0].classList.remove("backdrop-blur-md");

            imgs?.forEach((img) => {
                img.decode()
                    .then(() => {
                        img.setAttribute("decoded", "true");
                    })
                    .catch((err) => {
                        console.error(`Error decoding image ${img.src}:`, err);
                    });
            });

            img_group.forEach((group, index) => {
                const group_element = group as HTMLElement;
                group_element.style.animationDuration = `${900 + index * 300}ms`;
            });
        });

        window.addEventListener("scroll", () => {
            bg_blured?.forEach((bg) => {
                if (bg) {
                    const img_rect = bg.getBoundingClientRect();
                    const text_rect = center?.getBoundingClientRect();

                    if (
                        text_rect &&
                        img_rect.top <= text_rect?.bottom &&
                        img_rect.bottom >= text_rect?.top
                    ) {
                        bg.classList.remove("backdrop-blur-md");
                    } else {
                        bg.classList.add("backdrop-blur-md");
                        bg.classList.add("rounded");
                    }
                }
            });
        });
    });
</script>
