---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/nav";
import "./styles/global.css";
---

<Layout>
    <div class="text-lg">nastia web site</div>
    <a href="/about">go to about</a>
</Layout>
