---
import "../styles/global.css";

type Image = {
    url: string;
};

const res = await fetch(
    "http://subtle-palmier-ae368e.netlify.app/.netlify/functions/cloudinary-images",
);

console.log(res, "RESPONCE");
const res_obj = await res.json();
const imgs: Image[] = res_obj.resources;
const first_img: string = imgs[0].url;
---

<div class="text-[12px] bg-white">
    <div
        class="fixed px-4 mt-[49vh] w-screen text-white/80 mix-blend-difference h-2 z-30"
    >
        <div class="flex justify-between">
            <div>
                <p>Anastasia Potapova</p>
            </div>
            <div class="flex gap-4">
                <p class="active:text-black/20 cursor-pointer">Instagram</p>
                <p class="active:text-black/20 cursor-pointer">E-mail</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center justify-center">
        <div
            id="img_wrapper"
            class="flex flex-col gap-6 w-fit my-4 items-center max-[500px]:mt-[54vh]"
        >
            <img
                id="img_static"
                src={first_img}
                alt="first_img"
                class="h-[80vh] max-[500px]:h-auto max-w-full object-cover transition-all duration-600 ease-in-out handle_blur z-10"
            />
            {
                imgs.slice(1).map((img) => {
                    return (
                        <img
                            id="img_static"
                            src={img.url}
                            alt="img"
                            class="h-[80vh] max-[500px]:h-auto max-w-full object-cover transition-all duration-600 ease-in-out handle_blur blur-xs opacity-90 rotate-2"
                        />
                    );
                })
            }
        </div>
        <div
            class="mb-4 text-white/10 mx-auto mix-blend-difference max-[500px]:mt-[50vh]"
        >
            All Rights Reserved. 2025
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        if ("scrollRestoration" in history) {
            history.scrollRestoration = "manual";
        }

        const img_wrapper = document.getElementById("img_wrapper");
        const imgs = img_wrapper?.querySelectorAll("#img_static");
        const text = document.querySelector(".fixed");

        window.addEventListener("scroll", () => {
            imgs?.forEach((img) => {
                const img_rect = img.getBoundingClientRect();
                const text_rect = text?.getBoundingClientRect();

                if (
                    text_rect &&
                    img_rect.top <= text_rect?.bottom &&
                    img_rect.bottom >= text_rect?.top
                ) {
                    img.classList.remove("blur-xs");
                    img.classList.replace("rotate-2", "rotate-0");
                } else {
                    img.classList.add("blur-xs");
                    img.classList.add("rotate-2");
                }
            });
        });
    });
</script>
