---
import "./styles/global.css";
import More from "../components/More";

type Image = {
    url: string;
};

const res = await fetch("http://localhost:4321/api/cloudinary-images");
const res_obj = await res.json();
const imgs: Image[] = res_obj.resources;
// const next_cursor = res_obj.next_cursor;
---

<div class="text-[12px] bg-white">
    <div
        class="fixed px-4 mt-[49vh] w-screen text-white/65 mix-blend-difference h-2 z-10"
    >
        <div class="flex justify-between">
            <div>
                <p>Anastasia Potapova</p>
            </div>
            <div class="flex gap-4">
                <p class="active:text-black/20 cursor-pointer">Instagram</p>
                <p class="active:text-black/20 cursor-pointer">E-mail</p>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div
            id="img_wrapper"
            class="flex flex-col gap-3 w-fit my-[50vh] items-center"
        >
            {
                imgs.map((img) => {
                    return (
                        <img
                            src={img.url}
                            alt="img"
                            class="h-[80vh] object-cover transition-all duration-600 ease-in-out handle_blur"
                        />
                    );
                })
            }
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        if ("scrollRestoration" in history) {
            history.scrollRestoration = "manual";
        }

        const img_wrapper = document.getElementById("img_wrapper");
        const imgs = img_wrapper?.querySelectorAll("img");
        const text = document.querySelector(".fixed");

        window.addEventListener("scroll", () => {
            imgs?.forEach((img) => {
                const img_rect = img.getBoundingClientRect();
                const text_rect = text?.getBoundingClientRect();

                if (
                    text_rect &&
                    img_rect.top <= text_rect?.bottom &&
                    img_rect.bottom >= text_rect?.top
                ) {
                    img.classList.remove("blur-xs");
                    img.classList.remove("opacity-90");
                } else {
                    img.classList.add("opacity-90");
                    img.classList.add("blur-xs");
                }
            });
        });
    });
</script>
