<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Anastasiia Potapova</title>
    </head>
    <body class="bg-white">
        <slot />
    </body>
</html>
