@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"); */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html * {
    /* font-family: "overused-grotesk", Helvetica, sans-serif; */
    font-family: Helvetica, sans-serif;
    /* font-family: "EB Garamond", serif; */
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}
